.app-button__container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 0 0 var(--base-spacer) 0;
}

.app-button__item {
  width: 85%;
  height: var(--base-spacer-xl);
}

.app-button__item--small {
  width: 100%;
  height: var(--base-spacer-l);
}

